.Table{
    margin-top: 15px;
    color: #415a77;
    border: 5px white solid;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #195ead5d;
    border-radius: 5px;
    overflow-y: auto;
    display: block;
    max-height: 75%;
    min-width: 500px;
    min-height: 500px;
    table-layout: auto;
    width: fit-content;
}


.Input-Field{
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    color: black;
}

.Required-Field{
    border-color: rgb(200, 0, 0);
}

