.Container {
    text-align: center;
    background-color: #195ead5d;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Input-Box {
    text-align: center;
    color: black;
    display: block;
    margin: 5px auto;
    padding: 10px;
    border-radius: 3px;
}

#CheckBox {
    font-size: 2em;
}
